# Node (frontend)
frontend/node_modules/
frontend/dist/
frontend/.env

# Maven / Spring Boot (backend)
backend/target/
backend/.env

# New Relic
/newrelic/newrelic/*.jar
/newrelic/newrelic/*api*.jar
/newrelic/newrelic/extension*.*
/newrelic/newrelic/THIRD_PARTY_NOTICES.md
/newrelic/newrelic/LICENSE

# IDEs
*.idea/
*.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
